<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="3">
            <tr>
                <td>Old Password</td>
                <td><input type="password" name="old_pass" id="" required></td>
            </tr>

            <tr>
                <td>New password</td>
                <td><input type="password" name="new_pass" id="" required></td>
            </tr>

            <tr>
                <td>Re-Type password</td>
                <td><input type="password" name="re_pass" id="" required></td>
            </tr> 

            <tr>
                <td ><input type="submit" value="Change password"> 
               <input type="submit" value="Cancel"></td>
            </tr>
    
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location = "{% url 'User:MyProfile' %}"
</script>

{% endif %}