<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserList</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="3">
            <tr>
                <td>SL NO</td>
                <td>Name</td>
                <td>Photo</td>
                <td>Email</td>
                <td>Contact</td>
                <td>Address</td>
                <td>District</td>
                <td>Place</td>
                <td>Actions</td>
            </tr>
            {% for i in abcd %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.user_name}}</td>
                <td><img src="{{i.user_photo.url}}" width="200" alt=""></td>
                <td>{{i.user_email}}</td>
                <td>{{i.user_contact}}</td>
                <td>{{i.user_address}}</td>
                <td>{{i.place.district.district_name}}</td>
                <td>{{i.place.place_name}}</td>
                <td><a href="{% url 'Admin:acceptuser' i.id %}">Accept</a></td>
                <td><a href="{% url 'Admin:rejectuser' i.id %}">Reject</a></td>

            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location="{% url 'Admin:User' %}"
</script>

{% endif %}